<html lang="ko">
<body>
<a href="/download"> <--  다운로드 페이지로 </a>
<h2> 파일 업로드 </h2>
<span>파일을 업로드하세요.</span>
<input type="file" id="fileInput">
<button onclick="uploadFile()">업로드</button>
<span id="message"> </span>
</body>
<script>

        function uploadFile() {
            const fileInput = document.getElementById('fileInput');
            const file = fileInput.files[0];

            if (!file) {
                alert('파일을 선택하세요.');
                return;
            }

            const formData = new FormData();
            formData.append('file', file);

            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/api/v1/rest/aws/upload', true);

            xhr.onload = function () {
                if (xhr.status === 200) {
                    document.getElementById("message").innerHTML = "파일 업로드에 성공하였습니다.";
                } else {
                    document.getElementById("message").innerHTML = "파일 업로드에 실패하였습니다.";
                }
            };

            xhr.send(formData);
        }
    </script>
</html>
